.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.125488;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.172852;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.783691;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.895508;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.934082;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-0.380000px;}
.ls3{letter-spacing:-0.153600px;}
.ls7{letter-spacing:-0.025440px;}
.ls0{letter-spacing:0.000000px;}
.ls5{letter-spacing:0.021120px;}
.ls1{letter-spacing:0.100000px;}
.ls8{letter-spacing:0.116000px;}
.ls6{letter-spacing:0.165200px;}
.ls2{letter-spacing:0.192000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.087360px;}
._3{width:1.290720px;}
._4{width:36.196160px;}
._1{width:46.046720px;}
._2{width:134.996160px;}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:39.840000px;}
.fs3{font-size:44.160000px;}
.fs4{font-size:48.000000px;}
.fs2{font-size:56.160000px;}
.fs1{font-size:68.160000px;}
.fs0{font-size:99.840000px;}
.y11{bottom:5.990000px;}
.y4{bottom:6.000000px;}
.ya{bottom:6.720000px;}
.ye{bottom:7.190000px;}
.y6{bottom:7.200000px;}
.y24{bottom:90.384000px;}
.y0{bottom:95.500000px;}
.y23{bottom:111.620000px;}
.y22{bottom:132.740000px;}
.y21{bottom:153.980000px;}
.y20{bottom:175.100000px;}
.y1f{bottom:196.220000px;}
.y1e{bottom:217.490000px;}
.y1d{bottom:227.450000px;}
.y1c{bottom:249.530000px;}
.y1b{bottom:271.610000px;}
.y1a{bottom:293.810000px;}
.y19{bottom:315.890000px;}
.y18{bottom:337.970000px;}
.y17{bottom:360.050000px;}
.y16{bottom:382.160000px;}
.y15{bottom:404.230000px;}
.y14{bottom:426.440000px;}
.y13{bottom:448.510000px;}
.y12{bottom:470.600000px;}
.y10{bottom:492.680000px;}
.yf{bottom:514.750000px;}
.yd{bottom:536.840000px;}
.yc{bottom:559.060000px;}
.yb{bottom:581.140000px;}
.y9{bottom:603.220000px;}
.y8{bottom:625.300000px;}
.y7{bottom:647.380000px;}
.y5{bottom:669.460000px;}
.y3{bottom:691.660000px;}
.y2{bottom:718.440000px;}
.y1{bottom:741.240000px;}
.h6{height:21.590000px;}
.ha{height:21.600000px;}
.h9{height:21.614000px;}
.h4{height:21.620000px;}
.hc{height:30.113438px;}
.h7{height:43.922812px;}
.h8{height:47.742188px;}
.hb{height:55.858359px;}
.h5{height:57.503672px;}
.h3{height:67.793906px;}
.h2{height:102.228750px;}
.h1{height:621.000000px;}
.h0{height:792.000000px;}
.w5{width:134.540000px;}
.w6{width:152.530000px;}
.w3{width:238.010000px;}
.w4{width:287.570000px;}
.w7{width:373.030000px;}
.w2{width:526.050000px;}
.w1{width:530.000000px;}
.w0{width:612.000000px;}
.x5{left:5.040000px;}
.x0{left:46.500000px;}
.x3{left:49.800000px;}
.xa{left:72.024000px;}
.x2{left:181.700000px;}
.x9{left:218.210000px;}
.x7{left:219.890000px;}
.x4{left:221.570000px;}
.x1{left:266.090000px;}
.x6{left:288.290000px;}
.x8{left:423.320000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-0.506667pt;}
.ls3{letter-spacing:-0.204800pt;}
.ls7{letter-spacing:-0.033920pt;}
.ls0{letter-spacing:0.000000pt;}
.ls5{letter-spacing:0.028160pt;}
.ls1{letter-spacing:0.133333pt;}
.ls8{letter-spacing:0.154667pt;}
.ls6{letter-spacing:0.220267pt;}
.ls2{letter-spacing:0.256000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.449813pt;}
._3{width:1.720960pt;}
._4{width:48.261547pt;}
._1{width:61.395627pt;}
._2{width:179.994880pt;}
.fs5{font-size:53.120000pt;}
.fs3{font-size:58.880000pt;}
.fs4{font-size:64.000000pt;}
.fs2{font-size:74.880000pt;}
.fs1{font-size:90.880000pt;}
.fs0{font-size:133.120000pt;}
.y11{bottom:7.986667pt;}
.y4{bottom:8.000000pt;}
.ya{bottom:8.960000pt;}
.ye{bottom:9.586667pt;}
.y6{bottom:9.600000pt;}
.y24{bottom:120.512000pt;}
.y0{bottom:127.333333pt;}
.y23{bottom:148.826667pt;}
.y22{bottom:176.986667pt;}
.y21{bottom:205.306667pt;}
.y20{bottom:233.466667pt;}
.y1f{bottom:261.626667pt;}
.y1e{bottom:289.986667pt;}
.y1d{bottom:303.266667pt;}
.y1c{bottom:332.706667pt;}
.y1b{bottom:362.146667pt;}
.y1a{bottom:391.746667pt;}
.y19{bottom:421.186667pt;}
.y18{bottom:450.626667pt;}
.y17{bottom:480.066667pt;}
.y16{bottom:509.546667pt;}
.y15{bottom:538.973333pt;}
.y14{bottom:568.586667pt;}
.y13{bottom:598.013333pt;}
.y12{bottom:627.466667pt;}
.y10{bottom:656.906667pt;}
.yf{bottom:686.333333pt;}
.yd{bottom:715.786667pt;}
.yc{bottom:745.413333pt;}
.yb{bottom:774.853333pt;}
.y9{bottom:804.293333pt;}
.y8{bottom:833.733333pt;}
.y7{bottom:863.173333pt;}
.y5{bottom:892.613333pt;}
.y3{bottom:922.213333pt;}
.y2{bottom:957.920000pt;}
.y1{bottom:988.320000pt;}
.h6{height:28.786667pt;}
.ha{height:28.800000pt;}
.h9{height:28.818667pt;}
.h4{height:28.826667pt;}
.hc{height:40.151250pt;}
.h7{height:58.563750pt;}
.h8{height:63.656250pt;}
.hb{height:74.477812pt;}
.h5{height:76.671562pt;}
.h3{height:90.391875pt;}
.h2{height:136.305000pt;}
.h1{height:828.000000pt;}
.h0{height:1056.000000pt;}
.w5{width:179.386667pt;}
.w6{width:203.373333pt;}
.w3{width:317.346667pt;}
.w4{width:383.426667pt;}
.w7{width:497.373333pt;}
.w2{width:701.400000pt;}
.w1{width:706.666667pt;}
.w0{width:816.000000pt;}
.x5{left:6.720000pt;}
.x0{left:62.000000pt;}
.x3{left:66.400000pt;}
.xa{left:96.032000pt;}
.x2{left:242.266667pt;}
.x9{left:290.946667pt;}
.x7{left:293.186667pt;}
.x4{left:295.426667pt;}
.x1{left:354.786667pt;}
.x6{left:384.386667pt;}
.x8{left:564.426667pt;}
}
